<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.sandytran.slowly">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Meditation"
            android:label="@string/title_activity_meditation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Breathing"
            android:label="@string/title_activity_breathing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Present"
            android:label="@string/title_activity_present"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Grounding"></activity>
    </application>

</manifest>